main {
     display: flex;
     flex-direction: column;
     padding: 20px;
     justify-content: center;
     align-items: center;
 }



 .product-info {
     display: grid;
     grid-gap: 0rem;
     grid-template-columns: auto auto auto;
     gap: 20px;
     justify-content: center;
 }
 
 p {
     padding: 0rem 2rem;
 }

 .product-image {
     width: 300px;
     /* Fixed width */
     height: 250px;
     /* Fixed height */
     object-fit: cover;
     /* Ensure the image covers the entire area */
     border-radius: 6rem;
     transition: .5s;
 }

 .product-details {
     text-align: center;
 }

 .price {
     font-size: 2rem;
     color: #e8491d;
     margin: 1rem 0;
 }

 .cta {
     padding: 1rem 2rem;
     background-color: #e8491d;
     color: white;
     border: none;
     cursor: pointer;
     font-size: 1rem;
     border-radius: 0.5rem;
     transition: .5s;
 }

 .cta:hover {
     box-shadow: 5px 5px 0 0 rgb(0, 0, 0);
     scale: 1.05;
 }

 .cta:active {
     scale: 1;
     box-shadow: none;
 }

 footer {
     text-align: center;
     padding: .5rem 0;
     background-color: black;
     color: white;
     margin-top: 2rem;
 }

 @media (max-width: 600px) {
     .card {
         display: flex;
         flex-direction: column;
         margin: 1rem;
     }

     .product-info {
         display: flex;
         flex-wrap: wrap;
         gap: 20px;
         justify-content: center;
     }

     .product-image {
         width: 100%;
         border-radius: 10rem;
         height: auto;
         transition: .5s;
     }

     .product-image:hover {
         width: 100%;
         height: auto;
     }

     header {
         flex-direction: column;
         font-size: .8rem;
     }
 }